<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  </head>
  <body>
    <h1>
      <small>
        By <%= @comment.user.name %>
      </small>
      <p>
        <%= @comment.body %>
      </p>
      <p>
        <%= link_to "View comment on site", topic_post_url(@post.topic, @post, anchor: "comment-#{@comment.id}") %>
      </p>
    </h1>
  </body>
</html>
