<h1>All Advertisements</h1>
<!-- iterate over each post in @posts -->
 <% @advertisements.each do |ad| %>
 <div class="media">
 <div class="media-body">
   <h4 class="media-heading">
     <%= link_to ad.title, ad %>
   </h4>
 </div>
</div>
 <% end %>
