<h1>All Posts</h1>
<!-- iterate over each post in @posts -->
 <% @posts.each do |post| %>
 <div class="media">
 <div class="media-body">
   <h4 class="media-heading">
     <%= link_to post.title, post %>
   </h4>
 </div>
</div>
 <% end %>
