// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  display: inline-block;
  height: 50px;
  width: 300px;
  background-color: #ae285e;
  border: 0px none;
  color: #fff;
  text-align: center;
  font-size: 1em;
  font-family: fantasy;
}
